<!-- newUrl.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty URL</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="message-container">
      <h1>ShortenURL</h1>
      <h2 class="message">Unfortunately, you entered an invalid input and so we cannot shorten it.</h2>
      <h3 class="message">Redirecting you back to home...</h3>
    </div>

    <!-- Automatically redirect the user to the home page -->
    <script>
      setTimeout(function() {
          window.location.href = "/";
      }, 2000); 
  </script>
</body>
</html>
