<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ShortenURL</title>
</head>
<body>
   <form action="/" method="POST">
      <div class="form-group">
        <label for="fullUrlInput">Long URL</label>
        <input type="url" id="fullURL" name="fullUrlInput">
      </div>
      <button type="submit" class="btn btn-dark">Shorten</button>
    </form>
   
</body>
</html>